<h1>Pictures</h1>

<form action="/pictures/delete" method="post">
    <div class="grid-x grid-padding-x">
        <div class="cell small-10">
            <label>Select image burst</label>
            <select name="pictures" class="js-picture-dropdown">
                {{#each directories}}
                    <option {{#ifeq this @root.current}}selected{{/ifeq}} value="{{{this}}}">{{{this}}}</option>
                {{/each}}
            </select>
        </div>
        <div class="cell small-2">
            <label>&nbsp;</label>
            <button class="button expanded" type="submit">Delete</button>
        </div>
    </div>
</form>


<div class="grid-x grid-padding-x">
    {{#each pictures}}
        <div class="cell small-6 medium-4 large-3">
            <label>{{{this.filename}}}</label>
            <img class="thumbnail" src="/camera/pictures/{{{this.path}}}/{{{this.filename}}}?resize=300,300"/>
        </div>
    {{/each}}
</div>
