<h1>Video</h1>

<form class="grid-x grid-padding-x" action="/generate-video">
    <div class="cell small-6 medium-8 large-10">
        <select name="video">
            <option value="">Please select burst</option>
            {{#each directories}}
                <option value="{{{this}}}">{{{this}}}</option>
            {{/each}}
        </select>
    </div>
    <div class="cell small-6 medium-4 large-2">
        <button class="button expanded" type="submit">Render video</button>
    </div>
</form>

<div class="grid-x grid-padding-x">
    {{#each videos}}
        <div class="cell small-12 medium-6">
            {{{this.filename}}}
            <form class="delete" action="/video/delete" method="post">
                <input type="hidden" name="video" value="{{{this.filename}}}">
                <input class="button alert" type="submit" value="X">
            </form>

            <video controls>
                <source src="camera/{{{this.path}}}/{{{this.filename}}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            </video>
        </div>
    {{/each}}
</div>
